.draft {
  background: white;
  padding: 1rem 2rem;
  transition: box-shadow 0.1s ease-in;
}

.draft h2 {
  margin-top: 0rem;
}

.draft:hover {
  box-shadow: 1px 1px 3px #aaa;
}

.draft + .draft {
  margin-top: 2rem;
}